<!doctype html>
<html lang="en">
<head>
    <%-include('./includes/head')%>
</head>
<body>
<%-include('./includes/nav')%>
<section>
    <h1>Hakkımızda</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti inventore magnam quam rem repellat sint tempore tenetur?</p>
</section>
</body>
</html>