<!doctype html>
<html lang="en">
<head>
    <%-include('./includes/head')%>
</head>
<body>
<%-include('./includes/nav')%>
<section>
    <form action="/admin/add-post" method="post">
        <input type="text" name="title" placeholder="Başlık">
        <input type="text" name="short" placeholder="Kısa Açıklama">
        <input type="text" name="long" placeholder="Uzun Açıklama">
        <input type="submit" value="Yazı Ekle">
    </form>
</section>
</body>
</html>