<!doctype html>
<html lang="en">
<head>
    <%-include('./includes/head')%>
</head>
<body>
<%-include('./includes/nav')%>
<section>
    <h1><%=blog.title%></h1>
    <p><%=blog.long%></p>
</section>
</body>
</html>

