<!doctype html>
<html lang="en">
<head>
    <%-include('./includes/head')%>
</head>
<body>
<%-include('./includes/nav')%>
<section>
    <form action="" method="post">
        <input type="text" name="username" placeholder="Kullanıcı Adı">
        <input type="password" name="password" placeholder="Şifreniz">
        <input type="submit" value="Giriş Yap">
    </form>
</section>
</body>
</html>